.header__titles{
  padding: var(--MediumGap);
}


h1 {

  color: var(--DarkColor);
  font-size: var(--Bigfont-size);
  padding-top: var(--MiniGap);
  width: 23.6rem;
}

.h2-like{
  font-size: var(--Smallfont-size);
  
}

header{
  background-color: var(--BgColor);
  background-image: url(../assets/img/plan-based-coffee@2x.png);
  background-repeat: no-repeat;
  background-position: top 50% right var(--MediumGap);
  background-size: 10.2rem;
}