:root {
  --BgColor:#F9D2CB;
  --DarkColor: #212121;
  --ButtonColor: #A3F4DC;


  --Bigfont-size: 2.6rem;
  --Mediumfont-size: 1.8rem;
  --SmallFont-size: 1.2rem;

  --MiniGap: 0.6rem;
  --SmallGap: 1.2rem;
  --MediumGap: 3rem;
}
